<div id="header">
  <span id="masthead">
  <h1><%= link_to "JS Wallet", home_path %><br/></h1>
  <h2>Online password storage for the paranoid.</h2>
  </span>
  <ul class="menu" id="user_nav">
   <% if logged_in? %>
     <li><%= link_to "Welcome, #{current_user.username.capitalize}", home_path %></li>
     <li><%= link_to "Log out", logout_path %></li>
   <% else %>
     <li><%= link_to "Sign up", signup_path %></li>
     <li><%= link_to "Log in", login_path %></li>
   <% end %>
  <li><%= link_to "About JS Wallet", about_path %></li>
  <li><%= link_to "JS Wallet on github", "https://github.com/kevinpet/wallet"%></li>
</ul>
   </div>
</div>
