<% title "Wallets" %>

<table>
  <tr>
    <th>Name</th>
    <th>Salt</th>
    <th>Crypto</th>
    <th>Ctext</th>
  </tr>
  <% for wallet in @wallets %>
    <tr>
      <td><%= wallet.name %></td>
      <td><%= wallet.salt %></td>
      <td><%= wallet.crypto %></td>
      <td><%= wallet.ctext %></td>
      <td><%= link_to "Show", wallet %></td>
      <td><%= link_to "Edit", edit_wallet_path(wallet) %></td>
      <td><%= link_to "Destroy", wallet, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Wallet", new_wallet_path %></p>
