<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
  <meta charset="utf-8">
  <title>JS Wallet</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body ng:controller="AppCtrl">
  <ng:view></ng:view>
  <%= javascript_include_tag :application -%>
  <script src="/javascripts/angular.min.js" ng:autobind></script>
  <%= javascript_include_tag :crypto -%>
  <%= javascript_include_tag :wallet -%>
</body>
</html>
